body{
    background-color: orangered;   
    width: 100%;
    height: 2000px;
    margin: 0 auto; 
} 

.icons {
    position: relative;
    left: 74%;
    display: inline-flex;
    margin-top: 30px;
    list-style: none;       

}

.icon1{
    margin-left: 10px;
}

.welcome-text{
    position: relative;
    margin-left: 28%;
    color: white;
}
