

body {
  height: 1000px; 
  width:100%;
}
.logo {
  position: absolute;
  left: 10%;
  top: -90px;
  width: 15%;
}

.mainMenu{
    width: 100%;
    background-color: #85C1E9;
    height: 120px;
}

.menu:hover .menu__link:not(:hover){
    color: #fff;
  }

  .menu__list{
    display: flex;  
    text-align: center;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;  
  }
  
  .main_menu{
    flex-grow: 1;
  }
  
  .menu__link{
    display: block;
  }
  
  /* skin */
  
  .menu{
    background-color: #FF33D7;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24);
  }
  
  .menu__link{
    padding: 1rem 1.5rem;
  
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .menu__link{
    position: relative;
    overflow: hidden;
  
    will-change: color;
    transition: color .25s ease-out;  
  }
  
  .menu__link::before, 
  .menu__link::after{
    content: "";
    width: 0;
    height: 4px;
    background-color: black;
  
    will-change: width;
    transition: width .1s ease-out;
  
    position: absolute;
    bottom: 0;
  }
  
  .menu__link::before{
    left: 50%;
    transform: translateX(-50%); 
  }
  
  .menu__link::after{
    right: 50%;
    transform: translateX(50%); 
  }
  
  .menu__link:hover::before, 
  .menu__link:hover::after{
    width: 100%;
    transition-duration: .2s;
  }
  
  
  @media (min-width: 768px){
  
    html{
      font-size: 62.5%;
    }
  }
  
  @media (max-width: 767px){
  
    html{
      font-size: 50%;
    }
  }
  
  body{
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
    font-size: 1.6rem;
    margin: 0;
    min-height: 100vh;
    display: flex;  
    flex-direction: column;
  }
  
  .begin{
    box-sizing: border-box;
    margin: 0 auto;
    /*position: fixed;

    */
    max-width: 960px;
    width: 100%;  
    padding-left: 1rem;
    padding-right: 1rem;
    
    order: 0;
  }
  
