.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.mySlides{
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: none;
    border-radius: 20px;

}
.moldura{

    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 840px; 
    height: 320px;
    border:5px double yellow;
    border-radius: 20px;

}