.main-info{
    margin-top: 30px;
    position: relative;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rebeccapurple;
    margin-left: auto;
    margin-right: auto;
    width: 6px;

}

#main-bar{
    height: 8px;
    background-color: yellow;
}